/mooc-java-programming-i/part03-Part03_11.IndexOfSmallest/target/
/mooc-java-programming-i/part03-Part03_21.PrintNeatly/target/
/mooc-java-programming-i/part03-Part03_22.PrintInStars/target/
/mooc-java-programming-i/part03-Part03_27.AVClub/target/
/mooc-java-programming-i/part03-Part03_31.NameOfTheOldest/target/